@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family), sans-serif;
}

.sidebar::-webkit-scrollbar, .side-sheet::-webkit-scrollbar, .main-layout::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track, .side-sheet::-webkit-scrollbar-track, .main-layout::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-thumb, .side-sheet::-webkit-scrollbar-thumb, .main-layout::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.overflow-y-overlay {
  overflow-y: overlay!important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  cursor: pointer;
}